$primaryFontFamily :  DM Sans, sans-serif;
$primaryColor : #0e0e0e;

.navContainer{
    height: 88px;
    font-family: $primaryFontFamily;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .navContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
        .logo{
            padding-bottom: 16px;
            span{
                font-size: 1.875em;
                color: $primaryColor;
                
            }
        }
        .tempUnits{
            display: flex;
            align-items: center;
            
            img{
                width: 33px;
                height: 33px;
                margin: 8px;
                object-fit: contain;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}