
.cityPage{
    background:#EBEBEB ;
    height: 100vh;

    .weatherContainer{
        height: calc(100vh - 184px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}