
$primaryFontFamily :  DM Sans, sans-serif;
$primaryColor : #0e0e0e;
.landingContainer{
    display: flex;
    flex-direction: column;
    font-family: $primaryFontFamily;
    padding: 24px 40px;
    
    
}