
$BorderColor :#b3b3b3;
.tableContainer{
    padding-top: 16px;
    .col{
        display: flex;
        flex-direction: column;
        .row{
            display: flex;
            align-items:center;
            justify-content: space-between;
            border-bottom: 1px solid $BorderColor;
            span{
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}